.navbar {
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-menu.active {
  display: none;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  height: 80px;
  max-width: 1500px;
  padding-left: 15%;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  padding-right: 5%;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: plum;
  border-radius: 1px;
  transition: all 0.2s ease-out;
}

.under-construction {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.under-construction {
  border-radius: 1px;
  transition: all 0.2s ease-out;
  cursor: not-allowed;
}

.fa-bars {
  color: white;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-item {
    width: 100%;
    position: relative;
    right: 15px;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 90vh;
    position: absolute;
    top: 70px;
    right: 0px;
    background-color: black;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    justify-content: center;
  }

  .navbar-logo {
    position: absolute;
    left: 10px;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: plum;
    border-radius: 0;
  }

  .under-construction {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .under-construction:hover {
    border-radius: 0;
    cursor: not-allowed;
  }

  .menu-icon {
    display: block;
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: white;
    font-size: 2rem;
  }
}
