.home,
.roomsearch {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.videoTag {
  z-index: -10;
}

.signoutButton {
  background-color: white;
  color: black;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  min-width: 8%;
  font-size: 15px;
  justify-content: center;
}

.signoutButton:hover {
  background-color: palevioletred;
  color: black;
  transform: all 0.3s ease-out;
}